@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";
.Navbar{
    background-color: $main-color;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    .nav-container {
        width: 90%;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
