@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";
.Navbar{
    background-color: $main-color;
    display: flex;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
}