@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.MiniProduct {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem
}

.product-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    img {
        object-fit: cover;
        display: block;
        width: 100px;
        height: 110px;
        border-radius: $base-border-radius;
    }
}

.product-data {
    flex: 2;
    p {
        color: black;
    }
    .product-price{
        color: black;
    }
}