@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.Home {
    display: flex;
    gap: 2rem;
    background-color: #1E2532;
}

.content {
    flex: 8;
    display: grid;
    grid-template-columns: repeat(12/1fr);
}

.top {
    grid-column: 2 / 12;
    @include centerElement();
    gap: 1rem;
}

.main-chart {
    grid-column: 1/7;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    @include centerElement()
}
.main-pie{
    grid-column: 8/12;
}

.bottom-order {
    grid-column: 1 /6;
}

.bottom-product {
    grid-column: 8/12;
    margin-top: 0.5rem;
    .procut-wrapper {
        @include centerElement(column);
        background-color: #364153;
        border-radius: $base-border-radius;
        width: 90%;
        column-gap: 0.5rem;
        padding: $base-padding;
        p {
            color: whitesmoke;
            font-family: $base-font-family;
        }
    }
}

.line {
    width: 60%;
    background-color: rgba(255, 255, 0, 0.015);
    border-radius: 80%;
    margin-bottom: 1rem;
}