@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.Sidebar{
  flex: 1;
  height: calc(100vh - 1px);
  position: sticky;
  top: 50px;
  @include bp-medium{
    top: 0px;
    flex-basis: 10%;
  }
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $fifth-color;
  background-image: linear-gradient(to bottom right, #d572ff, #9e10d1);
  height: 100%;
  

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp-medium {
      display: none;
    }
  }

  .list-sidebar {
    flex: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include bp-medium {
      justify-content: center;
    }

    li {
      padding: 5px;
      margin: 1rem 0;
      cursor: pointer;
      width: 160px;
      border-radius: 6px;
      &:hover{
        background-color: rgba(229, 115, 255, 0.775);
      }

      @include bp-medium{
        width: 80%;
      }

      .wrap-text-icon {
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin-inline: auto;
        width: 80%;
        color: whitesmoke;

        @include bp-medium {
          width: 90%;
        }

        .side-icon {
          margin-right: 0.5rem;

          @include bp-medium {
            &:hover {
              color: whitesmoke;
              transition: 0.5s ease;
            }
          }
        }   
        .side-text {
          font-family: 'Roboto', sans-serif;
          @include bp-medium {
            display: none;
          }
        }
      }
    }
  }
}

.footer-sidebar {
  flex: 1;
  @include centerElement();
  align-items: baseline;


  .logout-sidebar {
    display: flex;
    cursor: pointer;
    color: whitesmoke;
    background-color: #4758af4c;
    padding: 6px 10px;
    border-radius: 4px;
    @include bp-medium{
      background-color: inherit;
    }

    span {
      font-family: 'DM Sans', sans-serif;
      @include bp-medium {
        display: none;
      }
    }
  }
}


.nav-link {
  text-decoration: inherit;
  color: inherit;
}

