@import "../../../sassStyles/variables";
@import "../../../sassStyles/mixins";

.expand-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  color: whitesmoke;
}

.Sidebar{
  flex: 1;
  height: calc(100vh - 1px);
  position: sticky;
  top: 50px;
  @include bp-small{
    top: 0px;
    height: 100vh;
    flex-basis: 10%;
  }
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-color;
  height: 100%;
  

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp-small {
      display: none;
    }
  }

  .list-sidebar {
    flex: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include bp-small {
      justify-content: center;
    }

    li {
      padding: 5px;
      margin: 1rem 0;
      cursor: pointer;
      width: 100%;

      .wrap-text-icon {
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin-inline: auto;
        width: 80%;

        @include bp-small {
          width: 90%;
        }

        .side-icon {
          color: rgb(125, 125, 125);
          margin-right: 0.5rem;

          @include bp-medium {
            &:hover {
              color: whitesmoke;
              transition: 0.5s ease;
            }
          }
        }
      }
    }
  }
}

.footer-sidebar {
  flex: 1;
  @include centerElement();
  align-items: baseline;

  .logout-sidebar {
    display: flex;
    cursor: pointer;
    color: whitesmoke;
    background-color: #4758af4c;
    padding: 6px 10px;
    border-radius: 4px;

    span {
      @include bp-small {
        display: none;
      }
    }
  }
}

.side-text {
  color: rgb(135, 129, 129);

  @include bp-medium {
    display: none;
  }
}

.nav-link {
  text-decoration: inherit;
  color: inherit;
}


.mini-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}