@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";


.wrapper {
    box-shadow: $base-box-shadow;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    background: #364153;
    @include centerElement(column);
    @include bp-large {
        width: 95%;
    }
}


.description{
    display: flex;
    align-items: center;
    gap: 1rem;
    @include bp-large{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        p{
            font-size: 1rem;
            font-family: $base-font-family;
            color: whitesmoke;
            @include bp-medium{
                font-size: 0.7rem;
            }
        }
    }
}

.box{
    width: 15px;
    height: 15px;
    background-color: orange;
    display: block;
    border-radius: 4px;
    @include bp-large{
        width: 8px;
        height: 8px;
    }
}

.box-2{background-color: rgb(18, 181, 143)} 
.box-3{background-color: rgb(13, 101, 184)} 