@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.Calendar {
    background-color: $main-color;
    height: 100%;
}

.wrapp-calendar {
    max-width: 1600px;
    margin: 0 auto;
    width: 80%
}

.modal-add-event {
    @include centerElement(column);
}

.add-event {
    @include centerElement(column);
    background-color: #2a2a2a;
    height: 500px;
    width: 400px;
    border-radius: 20px;

    .title-event {
        @include inputStyle();
        width: 200px !important;
        display: block;
    }

    input[type="text"] {
        @extend .title-event;
    }

    .add-event-btn {
        button {
            @include btn()
        }
    }
}

.icon-create-evt {
    color: orange;
    @include centerElement();

    button {
        @include btn(#253e66, #355e9e);
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }
}

.fc-toolbar-title{
    @include bp-small{
        font-size: 1.1rem !important;
        color: whitesmoke;
        font-family: $base-font-family;
        text-align: center;
    }
}

.fc{
    @include bp-small{
        font-size: 0.9rem !important;
    }
}


.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem
}

.title-form{
    @include inputStyle(#5e4880);
    background-color: $main-color;
    color: whitesmoke;
}

.data-picker{
    z-index: 999;
    display: block;
}