// spacing
$base-margin: 0.5rem;
$base-padding: 0.5rem;

// border
$base-border: 1px;
$base-border-radius: 20px;

$base-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


// fonts
$base-font-family: 'DM Sans', sans-serif;

// color
$base-bgColor: rgba(55, 63, 68, 0.154);
$base-bgColor-1: linear-gradient(0deg, rgba(255, 255, 255, 0.193) 0%, rgb(60, 60, 84)0%); 


// colors
$main-color: #111315;
$second-color: #252539;
$third-color: #414244;
$fourth-color: #3E4754;
$fifth-color: #4A5CB6;