// spacing
$base-margin: 0.5rem;
$base-padding: 0.5rem;

// border
$base-border: 1px;
$base-border-radius: 20px;

$base-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


// fonts
$base-font-family: 'DM Sans', sans-serif;