@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";
.Products {
    background-color: $third-color;
    height: 100%;
    .container-products{
        max-width: 1300px;
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}

.datatable-products{
    height: 700px;
    margin-top: 2rem;
}

.header{
    width: 100%;
    background-color: $main-color;
    overflow: hidden;
    margin-top: 1rem;
    display: flex;
    .sort-btn{
        @include btn($third-color, $main-color, #454a4d);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span{
            display: inline-flex;
        }
    }
    .active{
        background: $fifth-color !important;
    }
    .button-add-product{
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            @extend .sort-btn;
            background: $fifth-color;
        }
    }
}

.cellWithImg{
    display: flex;
    align-items: center;
}
.cellImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.viewButton{
    margin-right: 0.8rem;
}

.MuiTablePagination-displayedRows .css-levciy-MuiTablePagination-displayedRows{
    color: whitesmoke !important;
}

.action-col-product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-link{
    color: inherit;
    text-decoration: inherit;
}