@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";
.Products {
    background-color: $main-color;
    height: 100%;
    .container-products{
        max-width: 1300px;
        margin: 0 auto;
        width: 90%;
    }
}

.datatable-products{
    height: 800px;
    margin-top: 2rem;
}

.header{
    width: 100%;
    background-color: $main-color;
    height: 5vh;    
    .product-btn{
        @include btn($third-color, $main-color, #454a4d);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:first-of-type{
            background: $fifth-color;
        }
    }
}

.text-link{
    color: inherit;
    text-decoration: inherit;
}