@use "sass:math";
@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.Box{
    flex: 1;
    padding: $base-padding;
    margin: $base-margin;
    border-radius: $base-border-radius;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c300ff, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
    // background: rgba(55, 63, 68, 0.154);
    // background: linear-gradient(0deg, rgba(255, 255, 255, 0.193) 0%, rgb(60, 60, 84)0%); 
    .container {
        height: 100px;
        display: flex;
        align-items: center;
    }
}

.col-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    span {
        background-color: rgb(60, 20, 99);
        color: rgb(124, 72, 176);
        padding: 1rem;
        border-radius: 70px;
        @include centerElement();
        @include bp-large{
            padding: 0.5rem
        }
    }
}

.col-text{
    flex: 3;
    @include centerElement(column);
    align-items: flex-start;
    cursor: default;
    @include bp-large{
        flex: 2
    }
    
    .statsNum{
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(200, 200, 200);
        @include bp-large{
            font-size: 1rem;
        }
    }
    .title-box {
        color: rgb(200, 200, 200);
        text-transform: capitalize;
        font-family: $base-font-family;
        font-size: 1rem;
    }
}