@import "../sassStyles/mixins";

.default-main{
    display: flex;
    flex-direction: column;
    @include bp-small{
        display: block;
    }
}

.layout-main{
    display: flex;
}

header{
    @include bp-medium{
        display: none;
    }
}




main{
    flex: 9;
    @include bp-medium{
        flex-basis: 85%;
    }
}


