@import "../sassStyles/mixins";

.default-main{
    display: flex;
    flex-direction: column;
    @include bp-small{
        display: block;
    }
}

.layout-main{
    display: flex;
}

header{
    @include bp-medium{
        display: none;
    }
}


.Sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    @include bp-small{
        top: 0px;
        height: 100vh;
        flex-basis: 10%;
    }
}


main{
    flex: 9;
    @include bp-small{
        flex-basis: 90%;
    }
}


