@import '../../sassStyles/variables.scss';

.Datatable{
    height: 80%;
    width: 100%;
}

.title-table{
    color: whitesmoke;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}

.cellWithImg{
    display: flex;
    align-items: center;
}

.cellImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.viewButton{
    margin-right: 0.8rem;
}

.MuiTablePagination-displayedRows .css-levciy-MuiTablePagination-displayedRows{
    color: whitesmoke !important;
}